<div class="init-page p-4 bg-gray-900 w-full h-full flex flex-col gap-4 max-h-[90vh]">
  <button
    *ngIf="!hideButton; else ExerciseConf"
    mat-raised-button
    color="primary"
    class="p-4 bg-orange-500 text-gray-900 text-2xl rounded-lg uppercase font-bold"
    (click)="addExercise()"
  >
    Add Exercise
  </button>

  <ng-container
    *ngIf="!!currentExerciseName"
    [ngTemplateOutlet]="SetControlsRef"
  ></ng-container>
</div>

<ng-template #ExerciseConf>
  <div class="flex item-center">
    <div class="flex flex-grow h-[50px] pr-4">
      <ng-select
        class="w-full"
        [items]="exerciseList"
        bindLabel="name"
        placeholder="Select an exercise"
        [(ngModel)]="currentExerciseName"
        [searchable]="true"
        [clearable]="false"
      >
      </ng-select>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="items-center justify-center flex bg-gray-700 text-2xl rounded-lg uppercase font-bold w-12"
      (click)="clearLastSetOrExercise()"
      [ngClass]="{ 'invisible pointer-events-none': !currentExerciseName }"
    >
      <i class="fas fa-times text-gray-100"></i>
    </button>
  </div>
  <div *ngIf="!currentExerciseName" class="flex flex-grow">
    <app-exercise-list [workout]="workout" (loadExercise)="loadExercise($event)"></app-exercise-list>
  </div>
  <app-complete-workout
    class="w-full"
    *ngIf="!currentExerciseName && workout.exercises.length"
    [workout]="workout"
  ></app-complete-workout>
</ng-template>

<ng-template #SetControlsRef>
  <app-set-controls
    class="flex flex-col gap-4 flex-grow"
    [currentExerciseName]="currentExerciseName"
    [workout]="workout"
    (onComplete)="completeExercise()"
  ></app-set-controls>
</ng-template>
